.app {
  position: relative;
  font-family: sans-serif;
  color: white;
}

.node {
  width: 160px;
}

.node-name {
  line-height: 30px;
  background: #ccc;
  text-indent: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 5px;
}

.button-div {
  display: flex;
  align-items: center;
}

.bi-plus-circle-fill {
  margin-right: 5px;
  cursor: pointer;
}

.bi-dash-circle-fill {
  cursor: pointer;
}

.node-subordinates {
  position: relative;
  left: 160px;
}

.node-action {
  margin-left: 6px;
  border: 1px solid #999;
  cursor: pointer;
}

.legend {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border: 1px solid #ccc;
}

.legend-head {
  color: #333;
  background-color: #eee;
}

.legend-item,
.legend-head {
  padding: 7px;
  text-align: center;
}

form {
  position: relative;
  margin-top: 10px;
  padding: 10px;
  text-align: left;
  display: inline-block;
  overflow: hidden;
  border: 1px solid #ccc;
  color: #333;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

form div,
input {
  margin-top: 10px;
}

form input[type='text'] {
  height: 30px;
  padding: 2px 5px;
  font-size: 18px;
}

form input[type='button'],
input[type='submit'] {
  color: #f5f4f4;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #667eea;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: none;
  border: none;
}

form input[type='button']:hover,
input[type='submit']:hover {
  background-color: #849aff;
}

.form-name {
  font-weight: 600;
}
